<%- model_class = Distrito -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:cod_distrito) %>:</strong></dt>
  <dd><%= @distrito.cod_distrito %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nom_distrito) %>:</strong></dt>
  <dd><%= @distrito.nom_distrito %></dd>
  <dt><strong><%= model_class.human_attribute_name(:departamento_id) %>:</strong></dt>
  <dd><%= @distrito.departamento_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              distritos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_distrito_path(@distrito), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              distrito_path(@distrito),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
