<%- model_class = TypeGarage -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Des_typegarage) %>:</strong></dt>
  <dd><%= @type_garage.Des_typegarage %></dd>
  <dt><strong><%= model_class.human_attribute_name(:no_ceiling) %>:</strong></dt>
  <dd><%= @type_garage.no_ceiling %></dd>
  <dt><strong><%= model_class.human_attribute_name(:yes_ceiling) %>:</strong></dt>
  <dd><%= @type_garage.yes_ceiling %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              type_garages_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_type_garage_path(@type_garage), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              type_garage_path(@type_garage),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
