<li><%= link_to "Información General ", pages_index_path  %></li>
<li><%= link_to "Preguntas Frecuentes ", pages_faq_path  %></li>
<li><%= link_to "Terminos y Condiciones", pages_about_path  %></li>
<li><%= link_to "Contactos", pages_contact_path  %></li>
<li><%= link_to "Sign In", "http://elcomercio.pe/" %></li>
<li><%= link_to "Sign Up", "http://elcomercio.pe/" %></li>
<li><%= link_to "Departments", departments_path %></li>
<li><%= link_to "Districts", districts_path %></li>
<!--<li><%= link_to "Preguntas Frecuentes ", pages_contact_path  %></li>-->